/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size (opinionated).
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
}

/*
Sections
========
*/
/**
1. Remove the margin in all browsers.
2. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  margin: 0;
  /* 1 */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  /* 2 */
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
*/
button,
select {
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/* placeholders */
body {
  color: #757575;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* container */
.conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

/* responsive-container */
@media screen and (min-width: 1200px) {
  .conteiner {
    width: 1200px;
  }
}

/* mixins */
.page-header__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.logo {
  padding-top: 64px;
  font-family: Raleway, cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 64px;
  line-height: 1;
  text-decoration: none;
  color: #000000;
}

.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #68bee6;
}

.motion-container {
  margin: auto;
  position: relative;
  width: 1200px;
  height: 600px;
  padding: 0;
}

.svg-path {
  stroke: gray;
  stroke-width: 4;
  fill: none;
  position: absolute;
  left: 0;
  top: 0;
}

.box {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  offset-path: path("M600 575C296.133 575 50 451.934 50 300S296.133 25 600 25c303.867 0 550 123.066 550 275S903.867 575 600 575z");
  -webkit-animation-duration: 500ms;
          animation-duration: 500ms;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  animation-direction: reverse;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  offset-rotate: 0deg;
}

.motion-pause {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.box-1 {
  background: #ff66b2;
}

.box-2 {
  background: #ffcb69;
}

.box-3 {
  background: #a0ff69;
}

.box-4 {
  background: #69fff8;
}

.box-5 {
  background: #6978ff;
}

.box-6 {
  background: #ff6565;
}

/* animating object on path */
.motion-move-1 {
  -webkit-animation-name: move1;
          animation-name: move1;
}

.motion-move-2 {
  -webkit-animation-name: move2;
          animation-name: move2;
}

.motion-move-3 {
  -webkit-animation-name: move3;
          animation-name: move3;
}

.motion-move-4 {
  -webkit-animation-name: move4;
          animation-name: move4;
}

.motion-move-5 {
  -webkit-animation-name: move5;
          animation-name: move5;
}

.motion-move-6 {
  -webkit-animation-name: move6;
          animation-name: move6;
}

@-webkit-keyframes move1 {
  0% {
    offset-distance: 10%;
  }
  100% {
    offset-distance: 20%;
  }
}

@keyframes move1 {
  0% {
    offset-distance: 10%;
  }
  100% {
    offset-distance: 20%;
  }
}

@-webkit-keyframes move2 {
  0% {
    offset-distance: 20%;
  }
  100% {
    offset-distance: 30%;
  }
}

@keyframes move2 {
  0% {
    offset-distance: 20%;
  }
  100% {
    offset-distance: 30%;
  }
}

@-webkit-keyframes move3 {
  0% {
    offset-distance: 30%;
  }
  100% {
    offset-distance: 60%;
  }
}

@keyframes move3 {
  0% {
    offset-distance: 30%;
  }
  100% {
    offset-distance: 60%;
  }
}

@-webkit-keyframes move4 {
  0% {
    offset-distance: 60%;
  }
  100% {
    offset-distance: 70%;
  }
}

@keyframes move4 {
  0% {
    offset-distance: 60%;
  }
  100% {
    offset-distance: 70%;
  }
}

@-webkit-keyframes move5 {
  0% {
    offset-distance: 70%;
  }
  100% {
    offset-distance: 80%;
  }
}

@keyframes move5 {
  0% {
    offset-distance: 70%;
  }
  100% {
    offset-distance: 80%;
  }
}

@-webkit-keyframes move6 {
  0% {
    offset-distance: 80%;
  }
  100% {
    offset-distance: 110%;
  }
}

@keyframes move6 {
  0% {
    offset-distance: 80%;
  }
  100% {
    offset-distance: 110%;
  }
}

.btn {
  position: absolute;
}

.social-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: -10px;
}

.social-links__item {
  margin-left: 10px;
  margin-top: 16px;
}

.social-links__item--top {
  margin-top: 20px;
}

.social-links__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  fill: #afb1b8;
  -webkit-transition-property: background-color, fill;
  transition-property: background-color, fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links__link--color {
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.social-links__icon {
  margin: auto;
}

.social-links__link:hover, .social-links__link:focus {
  background-color: #2196f3;
  fill: #ffffff;
}

.page-footer {
  background-color: #2f303a;
  color: #ffffff;
  padding-top: 60px;
  padding-bottom: 60px;
  /*logo footer*/
}

@media screen and (min-width: 1200px) {
  .page-footer__address {
    margin-right: 70px;
    margin-bottom: 0;
  }
}

.page-footer__logo {
  color: #ffffff;
  margin-bottom: 20px;
  margin-right: 0;
  display: block;
}

@media screen and (max-width: 767px) {
  .our-social-networks {
    margin-bottom: 60px;
  }
}

.our-social-networks__titel {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

@media screen and (max-width: 1199px) {
  .our-social-networks__titel {
    text-align: center;
  }
}

.social-links__item--top {
  margin-top: 20px;
}
/*# sourceMappingURL=main.css.map */