body {
    background-color: $bg-color-page;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../images/starry-sky.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

body {
    @media screen and (min-width: 768px) {
        background-repeat: repeat;
        background-position: center;
        background-size: contain;
    }
}

body {
    @media screen and (min-width: 1300px) {
        background-repeat: repeat;
        background-position: center;
        background-size: contain;
    }
}
