.hero-section {
  padding: 72px 0 102px;
}

.hero-section {
  @media screen and (min-width: 768px) {
    padding: 69px 0 8px;
  }
}

.hero-section {
  @media screen and (min-width: 1300px) {
    padding: 69px 0 8px;
  }
}

.page-hero__conteiner{
  display: flex;
  justify-content: center;
  overflow: hidden;
  padding: 43px 0;
}

.page-hero__conteiner {
  @media screen and (min-width: 768px) {
    padding: 60px 0;
  }
}

.page-hero__conteiner {
  @media screen and (min-width: 1300px) {
    padding: 60px 0;
  }
}

.motion-container {
  position: relative;
}

#svg-container{
  display: block;
}

// box target-1 - target-6
.box {
  position: absolute;
  left: -43px;
  top: -43px;
  width: 86px;
  height: 86px;
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
} 

.box {
  @media screen and (min-width: 768px) {
    left: -60px;
    top: -60px;
    width: 120px;
    height: 120px;
  }
}

.box {
  @media screen and (min-width: 1300px) {
    left: -60px;
    top: -60px;
    width: 120px;
    height: 120px;
  }
}

// gallery images
.gallery {
  overflow: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 320px;
  height: 320px;
  cursor: pointer;
}

.gallery {
  @media screen and (min-width: 768px) {
      width: 280px;
      height: 280px;
    }
}

.gallery {
  @media screen and (min-width: 1300px) {
      width: 422px;
      height: 422px;
    }
}

.gallery__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.gallery__image.hidden {
  opacity: 0;
}

.border {
  border: 1px solid red;
}

#selected-image-text {
  font-family: "Merienda", cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 1;
  color: $text-color-white;
  position: absolute;
  top: 90px;
  left: 50%;
  transform: translate(-50%, 0);
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

#selected-image-text {
  @media screen and (min-width: 768px) {
    top: -60px;
  }
}

#selected-image-text {
  @media screen and (min-width: 1300px) {
    top: 540px;
  }
}
