.page-hero__conteiner{
  display: flex;
  flex-direction: column;
}

.motion-container {
  position: relative;
  margin: auto;
  padding: 0;
}

.svg{
  display: block;
}

.box {
  position: absolute;
  left: -20px;
  top: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.box.target-1 {
  background: rgb(255, 102, 178);
}

.box.target-2 {
  background: rgb(255, 203, 105);
}

.box.target-3 {
  background: rgb(160, 255, 105);
}

.box.target-4 {
  background: rgb(105, 255, 248);
}

.box.target-5 {
  background: rgb(105, 120, 255);
}

.box.target-6 {
  background: rgb(255, 101, 101);
}