.logo {
  display: block;
  text-decoration: none;
  color: #000000;
  padding-left: 18px;
}

.logo .logo__icon {
  display: block;
  width: 224px;
  height: 35px;
}

.logo .logo__icon {
  @media screen and (min-width: 768px) {
    width: 398px;
    height: 64px;
  }
}

.logo .logo__icon {
  @media screen and (min-width: 1300px) {
    width: 398px;
    height: 64px;
  }
}
