.logo {
  // font-family: 'Chenile Deluxe DEMO';
  display: flex;
  font-family: Raleway, cursive;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 1;
  text-decoration: none;
  color: #000000;
}

.logo {
  @media screen and (min-width: 768px) {
    font-size: 64px;
    line-height: 1;
  }
}

.logo {
  @media screen and (min-width: 1530px) {
    font-size: 64px;
    line-height: 1;
  }
}


