.mint {
    // font-family: 'Chenile Deluxe DEMO';
    font-family: Raleway, cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 1;
    color: #FFFFFF;
    padding: 20px 54px;
    text-decoration: none;
    background-color: #000000;
}

.mint.main-nav__mint{
    display: none;
}

.mint.main-nav__mint {
    @media screen and (min-width: 768px) {
        display: block;
    }
}

.mint.main-nav__mint {
    @media screen and (min-width: 1530px) {
        display: block;
    }
}