.mint {
    display: block;
    padding: 0 14px;
    text-decoration: none;
    background-color: transparent;
    border: none;
}

.mint .mint__icon{
    display: block;
    width: 59px;
    height: 31px;
    fill: #fff;
}

.mint .mint__icon {
    @media screen and (min-width: 768px) {
        width: 105px;
        height: 41px;
    }
}

.mint .mint__icon {
    @media screen and (min-width: 1300px) {
        width: 105px;
        height: 41px;
    }
}

.main-nav .mint {
    display: block;
}
