.page-footer {
  padding-bottom: 32px;
}

.page-footer {
  @media screen and (min-width: 768px) {
    padding-bottom: 64px;
  }
}

.page-footer {
  @media screen and (min-width: 1300px) {
    padding-bottom: 64px;
  }
}

.page-footer__conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-footer__conteiner {
  @media screen and (min-width: 768px) {
    justify-content: space-between;
  }
}

.page-footer__conteiner {
  @media screen and (min-width: 1300px) {
    justify-content: space-between;
  }
}
