.page-header {
  padding-top: 54px;
}

.page-header {
  @media screen and (min-width: 768px) {
    padding-top: 44px;
  }
}

.page-header {
  @media screen and (min-width: 1530px) {
    padding-top: 44px;
  }
}
