.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -20px;

  &__item {
    margin-left: 20px;
  }

  &__link {
    display: flex;
    width: 58px;
    height: 58px;
    fill: $text-color-white;
  }

  &__icon {
    margin: auto;
  }
}
