.social-links {
  display: flex;
  justify-content: center;
  margin-left: -32px;

  &__item {
    margin-left: 32px;
  }

  &__link {
    display: flex;
    width: 86px;
    height: 86px;
    fill: $title-text-color;
  }

  &__icon {
    margin: auto;
  }
}
