/* placeholders */
%body {
  color: $primary-text-color;
  background-color: $bg-color-white;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-size: 14px;
}
body {
  @extend %body;
}

%img {
  display: block;
  width: 100%;
  height: auto;
}
img {
  @extend %img;
}

%tag {
  margin: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  @extend %tag;
}

%list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.social-links {
  @extend %list;
}

/* container */
%conteiner {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/* responsive-container */
%responsive-container {
  @media screen and (min-width: 480px) {
    width: 480px;
  }

  @media screen and (min-width: 768px) {
    width: 768px;
  }

  @media screen and (min-width: 1200px) {
    width: 1200px;
  }
}
.conteiner {
  @extend %conteiner, %responsive-container;
}
