$primary-text-color: #757575;
$title-text-color: #212121;
$accent-color: #2196f3;
$accent-color-effect: #188ce8;
$text-color-white-a: rgba(255, 255, 255, 0.6);
$text-color-white: #ffffff;
$text-color-blac: #000000;
$bg-color-white: #ffffff;
$bg-color-light: #f5f4fa;
$bg-color-hero: #c4c4c4;
$bg-color-footer: #2f303a;
$block-border-line: #ececec;
$card-border-color: #eeeeee;
$color4: #afb1b8;
$color3: #757575;
